@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@300;400;700&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
$font-text:'Open Sans',
sans-serif;
$font-nav:'Nunito',
sans-serif;
$font-nombre:'Philosopher',
sans-serif;
$naranja:#Ff6600;
$amarillo:#FFFF99;
$marron-claro:#Cc9933;
$marron-regular:rgb(153, 102, 51);
$marron-oscuro:rgb(102, 51, 51);

.nav-color {
    background-color: $marron-claro;
    width: 100%;
    padding: 0.5em 0;
    color: white !important;
}


.dropdown-menu {
    background-color: $marron-claro;
    width: 100%;
    text-align: center;
    border: none;

    width: auto;

    left: -10%;


    .dropdown-item {
        color: white;
        font-family: $font-nav;
        font-weight: bold;

        border-radius: 0;
        font-size: 1.3rem;

        &:hover {
            background-color: $marron-regular;
        }



    }
}

.navbar-nav {
    width: 80%;
    justify-content: space-evenly;

    margin: 0 auto;

    li {

        padding-left: 1.5em;
        padding-right: 1.5em;
        width: 100%;
        text-align: center;
        border-radius: 2px;

        &:nth-child(1) {
            border-left: 3px solid white;
        }

        &:nth-child(2) {
            border-left: 3px solid white;
        }

        &:nth-child(3) {
            border-left: 3px solid white;
        }

        &:nth-child(4) {
            border-left: 3px solid white;
        }

        &:nth-child(5) {
            border-right: 3px solid white;
            border-left: 3px solid white;

        }

        &:nth-child(6) {
            border-right: 3px solid $amarillo;
        }



    }
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            font-family: $font-nav;
            font-size: 1.4em;
            font-weight: bolder;
            color: rgba(255, 255, 255, 1);
            &:hover{
                color: rgba(102, 51, 51, 1);
            }
        }
    }
}
