@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@300;400;700&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
$font-text:'Open Sans',
sans-serif;
$font-nav:'Nunito',
sans-serif;
$font-nombre:'Philosopher',
sans-serif;
$naranja:#Ff6600;
$amarillo:#FFFF99;
$marron-claro:#Cc9933;
$marron-regular:rgb(153, 102, 51);
$marron-oscuro:rgb(102, 51, 51);

.lightboxOverlay {
    background-color: $marron-regular;
}
.lb-outerContainer{
    background-color: rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.nav-color {
    background-color: $marron-claro;
    width: 100%;
    padding: 0.5em 0;
    color: white !important;
}

.dropdown-menu {
    background-color: $marron-claro;
    width: 100%;
    text-align: center;
    border: none;

    width: auto;

    left: -10%;


    .dropdown-item {
        color: white;
        font-family: $font-nav;
        font-weight: bold;

        border-radius: 0;
        font-size: 1.3rem;

        &:hover {
            background-color: $marron-regular;
        }



    }
}

.navbar-nav {
    width: 80%;
    justify-content: space-evenly;

    margin: 0 auto;

    li {

        padding-left: 1.5em;
        padding-right: 1.5em;
        width: 100%;
        text-align: center;
        border-radius: 2px;

        &:nth-child(1) {
            border-left: 3px solid white;
        }

        &:nth-child(2) {
            border-left: 3px solid white;
        }

        &:nth-child(3) {
            border-left: 3px solid white;
        }

        &:nth-child(4) {
            border-left: 3px solid white;
        }

        &:nth-child(5) {
            border-right: 3px solid white;
            border-left: 3px solid white;

        }

        &:nth-child(6) {
            border-right: 3px solid $amarillo;
        }



    }
}


.navbar-dark {
    .navbar-nav {
        .nav-link {
            font-family: $font-nav;
            font-size: 1.4em;
            font-weight: bolder;
            color: rgba(255, 255, 255, 1);
            &:hover{
                color: rgba(102, 51, 51, 1);
            }
        }
    }
}
.idiomas{
    width: 100%;
    height: 2em;
    background-color: $marron-claro;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 20;
.texto-idioma{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    p{
        margin: 0;
    }
    a{
        color: $marron-oscuro;
        font-family: $font-nav;
        margin-right:1em;
        font-weight: 600;
        padding-right: 1em;
       
        &:nth-child(1){
            border-right: 2px solid $marron-oscuro;

        }
        &:nth-child(2){
            border-right: 2px solid $marron-oscuro;

        }
    }
}
}


.jumbotron {
    min-height: 28em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;

}

header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    height: auto;

}

.carousel-item {
    img {
        height: auto;
        width: 100%;
    }

    .logo-carousel {
        position: absolute;
        display: flex;
        top: 40%;
        left: 20%;
        
        height: 8em;
        width: 18em;
        

    }

}

.container {
    width: 100%;

    .row {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;

        a {
            width: 100px;
            height: 100px;
            margin: 1rem 1em;
            overflow: hidden;

            img {
                width: 100px;
                height: auto;

            }
        }
    }
}

.carousel {
    height: 100%;
}

.row {
    --bs-gutter-x: 0;
    margin-right: 0;
    margin-left: 0;
}



.texto-testimonio {

    background-color: $marron-claro;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 3em 4em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .inline {
        display: flex;
        flex-direction: row;
        font-size: 4em;
        flex-wrap: nowrap;
        justify-content: center;
        line-height: 1rem;
        text-align: center;
        width: 50%;
        margin: 0.5em auto;



        .quote {
            font-size: 2em;
            font-family: $font-nombre;
            width: auto;
        }

        .title-testimonio {
            font-family: $font-nombre;
        }


    }

    .inline-citacion {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 50%;
        margin: .5em auto;
        justify-content: center;

        .quote {
            font-family: $font-nombre;
            font-size: 4em;
            line-height: 1rem;
            width: auto;
        }

        .citacion {
            font-family: $font-text;
            font-size: 1.2em;
        }
    }

    p {
        font-family: $font-nav;
        font-size: 1.1em;
        width: 50%;
        text-align: center;
    }


}

.about {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden;
    background-size: cover;
    background-image: url(assets/FONDOS/FONDO_BIO.jpg);

    .mandala {
        display: block;
        min-height: 1350px;


        width: 50%;
        height: auto;



        position: absolute;
        top: 0;
        left: 0;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(assets/FONDOS/ELEFANTE.png);

        img {
            display: none;
            width: 50%;
            height: auto;
            z-index: 2;


        }
    }

    .contenedor-bio {

        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .text-box-bio {
            height: 100%;

            width: 50%;
            padding-top: 5%;
            padding-right: 5%;
            text-align: right;

            .title-bio {
                font-size: 6em;
                font-family: $font-nombre;
                color: $marron-claro;

                p {
                    padding: 0;
                    line-height: 4rem;
                }

            }

            .sub-bio {
                width: 100%;

                h3 {
                    font-family: $font-nombre;
                    font-weight: 700;
                    color: $marron-oscuro;
                    letter-spacing: 1px;
                }

            }

            .text-bio {
                p {
                    font-family: $font-text;
                    text-align: justify;
                    color: $marron-claro;



                }
            }
        }
    }

    .contenedor-sobremandalas {
        background-color: $marron-claro;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .text-box-bio {
            height: 100%;
            font-family: $font-text;
            width: 50%;
            padding-top: 5%;

            padding-right: 5%;
            text-align: justify;

            .title-mandalas {
                p {
                    font-size: 8em;
                    font-family: $font-nombre;
                    color: white;
                    font-weight: bolder;
                    line-height: 4rem;
                    padding-bottom: 4rem;

                    sup {
                        font-size: 8rem;
                        font-family: $font-nombre;
                        color: white;
                        font-weight: bolder;
                        line-height: 4rem;
                        text-align: right;
                        margin-left: auto;
                        top: .5em;

                    }
                }
            }

            .text-mandala {
                p {
                    font-size: 1.1rem;
                    color: white;
                    margin-bottom: 0;

                    b {
                        text-align: start;
                    }

                    sub {
                        font-size: 8em;
                        font-family: $font-nombre;
                        color: white;
                        font-weight: bolder;
                        line-height: 4rem;
                        text-align: right;
                        margin-left: auto;
                    }
                }

                &:nth-child(3) {
                    text-align: right;
                    margin-bottom: 2em;
                }
            }
        }
    }
}

.cv {
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/FONDOS/FONDO_CV.jpg);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 3%;
    height: auto;
    justify-content: center;

    .contenedor-cv {
        display: flex;
        flex-direction: row;
        width: 85%;
        margin: 0 auto;
        justify-content: center;

        .contenedor-items-cv {
            display: flex;
            flex-direction: column;
            width: 90%;
            justify-content: flex-start;
            

            .cv-item {
                margin: 0.8em 0;
                font-family: $font-nav;

                :nth-child(1) {
                    color: $marron-oscuro;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                :nth-child(2) {
                    color: $marron-claro;
                }
            }
        }

        .download-cv {
            a {
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    text-decoration-color: $naranja;
                    text-decoration-thickness: 3px;
                }

                h1 {
                    font-family: $font-nombre;
                    font-weight: bolder;
                    color: $marron-oscuro;
                    margin-bottom: 0;
                    line-height: .8em;
                }

                h3 {
                    font-family: $font-nav;
                    font-weight: bolder;
                    color: $naranja;
                }
            }

        }

        .contenedor-extra-cv {
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-align: left;
            flex-direction: column;
            margin: 0 auto;
            font-family: $font-nav;
            border-left: 3px solid $naranja;
            padding-left: 1em;
            .lista-extra-cv{
             p{
                 color: $marron-oscuro;
             }   
            }
            h2 {
                margin-bottom: 1em;
                color: $naranja;
                font-weight: 800;
            }

            .lightbox-gallery {
                display: flex;
                flex-direction:row-reverse;

                .container {
                    padding: 0;

                    .row {
                        width: 100%;
                        margin: 0;
                        justify-content: right;
                        flex-direction: row-reverse;

                        .photolink {
                            display: none;
                        }

                        a {
                            margin: 0;
                            height: auto;
                            width: auto;

                            h3 {
                                font-size: 1.5em;
                                color: $naranja;
                            }

                            &:hover {
                                text-decoration: underline;
                                text-decoration-color: $naranja;
                            }
                        }
                    }
                }
            }

            a {
                h3 {
                    font-size: 1.5em;
                    color: $naranja;
                }

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: $naranja;
                }
            }

            &:nth-child(2) {
                justify-content: space-between;
                text-align: right;
                border-left: none;
                padding-left: none;
                padding-right: 1em;
                border-right: 3px solid $naranja;
            }
        }
    }
}



.talleres {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/FONDOS/FONDO_CURSO_Y_TALLER.jpg);
    width: 100%;
    height: auto;
    padding-bottom: 5em;

    .talleres-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        min-height: 12em;
        background-color: $marron-claro;
        justify-content: space-between;

        .talleres-header-title {
            width: 50%;
            margin-left: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 3rem 0;

            p {
                font-size: 5rem;
                width: 50%;
                font-family: $font-nombre;
                font-weight: 600;
                color: white;
            }

            h2 {
                text-align: left;
                width: min-content;
                padding-top: 0em;
                border-top: 3px solid black;

            }
        }

        .talleres-header-img {

            height: auto;
            width: 50%;
            overflow-x: hidden;
            overflow-y: hidden;
            max-height: 22em;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .talleres-part1 {
        display: flex;
        flex-direction: row;
        width: 85%;
        height: auto;
        margin: 0 auto;
        margin-top: 3em;
        justify-content: space-between;

        .talleres-part1-text {

            flex-direction: column;


            .talleres-part1-title {
                p {
                    font-family: $font-nombre;
                    color: $marron-oscuro;
                    font-size: 3em;
                    line-height: 1em;
                }

            }

            p {
                color: $marron-claro;
                font-family: $font-nav;
            }

            b {
                color: $marron-regular;
                font-family: $font-nav;
            }

            width: 80%;
            display: flex;
            text-align: left;
        }

        .talleres-part1-extra {
            width: 35%;
            text-align: right;
            display: flex;
            height: auto;
            flex-direction: column;
            justify-content: space-between;



            .talleres-beneficios {
                padding-right: 1em;
                border-right: 3px solid $naranja;
                font-family: $font-nav;

                h1 {
                    color: $marron-claro;

                    font-size: 2em;

                }

                p {
                    line-height: .5em;
                    color: $marron-regular;
                }

            }
        }
    }

    .talleres-part2 {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 0 auto;
        height: auto;
        justify-content: space-between;

        .talleres-contenido {
            h1 {
                color: $marron-regular;
                font-family: $font-nav;
                font-weight: bold;
                margin-bottom: 0;
            }

            a {
                text-decoration-color: $naranja;

                width: min-content;

                h3 {
                    color: $naranja;
                    font-family: $font-nav;
                }
            }


            margin-bottom:2em;
        }

        .talleres-contenido {

            width: 100%;
        }

        .talleres-lista {
            text-align: left;
            width: 30%;
            border-left: 3px solid $naranja;
            padding-left: 1.8em;
            font-family: $font-nav;
            line-height: 1.5em;

            p {
                margin: 0;
                padding: 0;
                color: $marron-claro;

            }

            b {

                color: $marron-regular;
            }
        }

        .talleres-pronto {
            width: auto;
            color: $marron-oscuro;
            margin-top: 2em;

            p {
                padding: 0;
                margin: 0;
                font-family: $font-nombre;
                font-size: 2em;
                text-align: right;
                line-height: 1em;

                &:nth-child(2) {
                    letter-spacing: .15em;
                    border-bottom: 3px solid $naranja;
                }

                &:nth-child(3) {
                    font-family: $font-nav;
                    text-align: center;
                }

                &:nth-child(4) {
                    font-family: $font-nav;
                    text-align: center;
                }
            }

            .muy-pronto {
                width: auto;
                height: 4em;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(assets/LOGO/MUY_PRONTO.svg);
            }
        }
    }
}

.testimonial {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    min-height: 10em;
    background-color: $marron-claro;

    .jumbotron {
        padding: 0;
        width: 100%;
        margin: 0;

        .container {
            margin: 0;
            width: 100%;
            height: auto;
            padding: 0;
            display: contents;

        }
    }
}

.carousel-indicators {
    li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
}

.galeria {

    width: 100%;
    background-image: url(assets/FONDOS/FONDO_GALERIA.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 20em;

    .contenedor-contenido-galeria {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        padding: 3em 0;

        .cta-galeria {
            display: flex;
            flex-flow: row nowrap;
            margin-left: auto;
            width: max-content;
            justify-content: space-between;
            height: auto;

            a {
                width: 2em;

                &:nth-child(2) {
                    margin-right: 1em;
                }

                .icon-insta {
                    width: 3em;
                    height: 3em;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;


                    background-image: url(assets/LOGO/iconfinder_icon-04_2515843.svg);
                }

                .icon-face {
                    width: 3em;
                    height: 3em;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(assets/LOGO/iconfinder_Rounded_Facebook_svg_5282541.svg);

                }
            }

            .logo {
                height: 3em;
                width: 10em;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(assets/LOGO/CLAMING.png);
            }


        }

        .contenedor-grid-galeria {
            width: 80%;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            .personal,
            .contenedor-arte {
                width: 50%;

                height: auto;

                .lightbox-gallery {
                    .container {
                        .row {
                            width: 100%;
                            height: auto;

                            .photolink {
                                display: none;
                            }

                            a {
                                height: auto;
                                width: 100%;
                                margin: 0;




                                .row-img-text {
                                    position: relative;

                                    .text-row {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        display: grid;
                                        place-items: center;
                                        background-color: rgba(0, 0, 0, 0);

                                        &:hover {
                                            background-color: rgba(102, 51, 51, 0.8);

                                            p {
                                                opacity: 1;
                                            }

                                        }

                                        p {
                                            font-family: $font-nombre;
                                            font-size: 3em;
                                            color: white;
                                            font-weight: bolder;
                                            opacity: 0;
                                        }
                                    }

                                    img {
                                        width: 100%;
                                        height: auto;
                                        display: flex;
                                        margin: 0 0;
                                    }
                                }
                            }


                        }
                    }
                }


            }

            .contenedor-arte {
                display: flex;
                flex-direction: column;
                width: 50%;
                flex-wrap: nowrap;
                height: auto;

                .lightbox-gallery {
                    height: 100%;

                    .container {
                        height: 100%;

                        .row {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            a {
                                width: 100%;
                                height: auto;
                                margin: 0;

                                img {
                                    width: 100%;
                                    height: auto;
                                    margin: 0 0;
                                }
                            }
                        }
                    }
                }


            }
        }
    }
}

.contacto-cursos {
    min-height: 10em;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/FONDOS/FONDO_CONTACTO.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header-contacto {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: right;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
        margin-top: 6em;

        .contact-redes {
            .title-header-contacto {
                font-family: $font-nombre;
                font-size: 4em;
                color: $marron-oscuro;
                font-weight: bold;

                p {
                    margin: 0;
                    line-height: 1em;
                }
            }

            .inline {
                display: flex;
                flex-flow: row nowrap;
                text-align: right;
                justify-content: flex-end;
                align-items: center;
                font-family: $font-nav;
                font-size: 1.8em;
                color: $naranja;

                p {
                    margin: 0;
                }

                .header-contacto-logos {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    height: 1.5em;
                    margin: auto 0;

                    a {
                        .logo {
                            height: 1.5em;
                            width: 1.5em;
                        }

                        .insta {
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-image: url(assets/LOGO/iconfinder_Rounded_Facebook_svg_5282541.svg);
                        }

                        .face {
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-image: url(assets/LOGO/iconfinder_icon-04_2515843.svg);
                        }
                    }
                }
            }
        }



        .datos-contacto {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 50%;
            font-size: 2em;
            font-family: $font-nav;
            text-align: left;

            p {
                color: $marron-oscuro;

            }

            a {
                color: $naranja;
                width: min-content;
            }
        }


    }

    .contenedor-form-info {
        display: flex;
        flex-flow: row;
        width: 80%;
        margin: 1em auto;
        justify-content: space-between;

        .formulario {
            width: 80%;

            form {
                display: flex;
                flex-flow: column nowrap;
                width: auto;
                align-items: center;

                .contenedor-todo {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    flex-wrap: nowrap;
                    height: auto;
                    margin-bottom: 1em;

                    .contact-form {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        width: 100%;
                        justify-content: space-between;

                        .input {
                            background-color: rgba(255, 255, 255, 0.8);
                            width: 80%;
                            padding: .5em;
                            border-radius: 20px;
                            margin: .2em auto;
                            text-align: left;










                        }
                    }

                    .input {
                        background-color: rgba(255, 255, 255, 0.8);
                        width: 80%;
                        padding: .5em;
                        border-radius: 20px;
                        margin: .2em auto;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.8);
                        }

                        display: flex;




                        label {
                            font-family: $font-nav;
                            color: $marron-regular;
                            margin: 0;
                            margin-right: 1em;
                            font-weight: bold;
                        }

                        input {
                            background-color: rgba(0, 0, 0, 0);
                            border: none;
                            width: auto;

                        }

                        textarea {
                            background-color: rgba(0, 0, 0, 0);
                            border: none;

                        }
                    }
                }

                button {
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    text-align: center;
                    font-family: $font-nav;
                    font-weight: bold;
                    color: $marron-regular;
                }

                .input {
                    background-color: rgba(255, 255, 255, 0.8);
                    width: 80%;
                    padding: .5em;
                    border-radius: 20px;
                    margin: .2em auto;
                    text-align: center;

                    &:hover {
                        background-color: rgba(145, 145, 145, 0.8);

                        button {
                            color: white;
                        }
                    }
                }

            }


        }


    }
}

.contacto {
    min-height: 10em;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/FONDOS/FONDO_CONTACTO.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header-contacto {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
        margin-top: 6em;

        .title-header-contacto {
            font-family: $font-nombre;
            font-size: 4em;
            color: $marron-oscuro;
            font-weight: bold;

            p {
                margin: 0;
                line-height: 1em;
            }
        }

        .inline {
            display: flex;
            flex-flow: row nowrap;
            text-align: right;
            justify-content: flex-end;
            align-items: center;
            font-family: $font-nav;
            font-size: 1.8em;
            color: $naranja;

            p {
                margin: 0;
            }

            .header-contacto-logos {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                height: 1.5em;
                margin: auto 0;

                a {
                    .logo {
                        height: 1.5em;
                        width: 1.5em;
                    }

                    .insta {
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url(assets/LOGO/iconfinder_Rounded_Facebook_svg_5282541.svg);
                    }

                    .face {
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url(assets/LOGO/iconfinder_icon-04_2515843.svg);
                    }
                }
            }
        }
    }

    .contenedor-form-info {
        display: flex;
        flex-flow: row;
        width: 80%;
        margin: 1em auto;
        justify-content: space-between;

        .formulario {
            width: 50%;

            form {
                display: flex;
                flex-flow: column nowrap;
                width: auto;
                align-items: center;

                .input {
                    background-color: rgba(255, 255, 255, 0.8);
                    width: 80%;
                    padding: .5em;
                    border-radius: 20px;
                    margin: .2em auto;

                    &:nth-child(5) {
                        text-align: center;


                        &:hover {
                            background-color: rgba(153, 102, 51, 0.8);

                            button {
                                color: white;
                            }
                        }
                    }

                    &:nth-child(4) {
                        display: flex;
                    }

                    button {
                        background-color: rgba(0, 0, 0, 0);
                        border: none;
                        text-align: center;
                        font-family: $font-nav;
                        font-weight: bold;
                        color: $marron-regular;
                        width: 100%;

                        &:focus {
                            outline: none;
                        }
                    }

                    label {
                        font-family: $font-nav;
                        color: $marron-regular;
                        margin: 0;
                        margin-right: 1em;
                        font-weight: bold;
                    }

                    input {
                        background-color: rgba(0, 0, 0, 0);
                        border: none;
                        width: auto;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }
                    }

                    textarea {
                        background-color: rgba(0, 0, 0, 0);
                        border: none;
                        width: 80%;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }


        }

        .datos-contacto {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 50%;
            font-size: 2em;
            font-family: $font-nav;

            p {
                color: $marron-oscuro;

            }

            a {
                color: $naranja;
                width: min-content;
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $marron-claro;
    color: white;
    font-family: $font-nav;
    width: 100%;
    align-items: center;
    height: auto;
    padding: 0em 5em;

    p {

        margin: 2em 0;
    }

    .diseniadora {
        width: auto;
        display: flex;
        flex-flow: row nowrap;

        a {
            img {
                height: auto;

                width: 100%;
            }
        }
    }

}
@media screen and (max-width:550px){

    .talleres {
        display: flex;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(assets/FONDOS/FONDO_CURSO_Y_TALLER.jpg);
        width: 100%;
        height: auto;
        padding-bottom: 5em;
    
        .talleres-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            min-height: auto;
            background-color: $marron-claro;
            justify-content: space-between;
    
            .talleres-header-title {
                width: 50%;
                margin-left: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 3rem 0;
    
                p {
                    font-size: 2rem;
                    width: 50%;
                    font-family: $font-nombre;
                    font-weight: 600;
                    color: white;
                }
    
                h2 {
                    text-align: left;
                    width: min-content;
                    padding-top: 0em;
                    border-top: 3px solid black;
    
                }
            }
    
            .talleres-header-img {
    
                height: auto;
                width: 50%;
                overflow-x: hidden;
    
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    
        .talleres-part1 {
            display: flex;
            flex-direction: row;
            width: 85%;
            height: auto;
            margin: 0 auto;
            margin-top: 3em;
            justify-content: space-between;
    
            .talleres-part1-text {
    
                flex-direction: column;
    
    
                .talleres-part1-title {
                    p {
                        font-family: $font-nombre;
                        color: $marron-oscuro;
                        font-size: 3em;
                        line-height: 1em;
                    }
    
                }
    
                p {
                    color: $marron-claro;
                    font-family: $font-nav;
                }
    
                b {
                    color: $marron-regular;
                    font-family: $font-nav;
                }
    
                width: 80%;
                display: flex;
                text-align: left;
            }
    
            .talleres-part1-extra {
                width: 35%;
                text-align: right;
                display: flex;
                height: auto;
                flex-direction: column;
                justify-content: space-between;
    
    
    
                .talleres-beneficios {
                    padding-right: 1em;
                    border-right: 3px solid $naranja;
                    font-family: $font-nav;
    
                    h1 {
                        color: $marron-claro;
    
                        font-size: 2em;
    
                    }
    
                    p {
                        line-height: .5em;
                        color: $marron-regular;
                    }
    
                }
            }
        }
    
        .talleres-part2 {
            display: flex;
            flex-direction: column;
            width: 85%;
            margin: 0 auto;
            height: auto;
            justify-content: space-between;
    
            .talleres-contenido {
                h1 {
                    color: $marron-regular;
                    font-family: $font-nav;
                    font-weight: bold;
                    margin-bottom: 0;
                }
    
                a {
                    text-decoration-color: $naranja;
    
                    width: min-content;
    
                    h3 {
                        color: $naranja;
                        font-family: $font-nav;
                    }
                }
    
    
                margin-bottom:2em;
            }
    
            .talleres-contenido {
    
                width: 100%;
            }
    
            .talleres-lista {
                text-align: left;
                width: 30%;
                border-left: 3px solid $naranja;
                padding-left: 1.8em;
                font-family: $font-nav;
                line-height: 1.5em;
    
                p {
                    margin: 0;
                    padding: 0;
                    color: $marron-claro;
    
                }
    
                b {
    
                    color: $marron-regular;
                }
            }
    
            .talleres-pronto {
                width: auto;
                color: $marron-oscuro;
                margin-top: 2em;
    
                p {
                    padding: 0;
                    margin: 0;
                    font-family: $font-nombre;
                    font-size: 2em;
                    text-align: right;
                    line-height: 1em;
    
                    &:nth-child(2) {
                        letter-spacing: .15em;
                        border-bottom: 3px solid $naranja;
                    }
    
                    &:nth-child(3) {
                        font-family: $font-nav;
                        text-align: center;
                    }
    
                    &:nth-child(4) {
                        font-family: $font-nav;
                        text-align: center;
                    }
                }
    
                .muy-pronto {
                    width: auto;
                    height: 4em;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url(assets/LOGO/MUY_PRONTO.svg);
                }
            }
        }
    }

    .cv {
        z-index: 3;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(assets/FONDOS/FONDO_CV.jpg);
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        padding: 0% 0%;
        height: auto;
        justify-content: center;
    
        .contenedor-cv {
            display: flex;
            flex-direction: row;
            width: 95%;
            margin: 0 auto;
            justify-content: center;

            &:nth-child(2){
                flex-direction: column;
            }
            
            .contenedor-items-cv {
                display: flex;
                flex-direction: column;
                width: 90%;
                justify-content: flex-start;
                
    
                .cv-item {
                    margin: 0.8em 0;
                    font-family: $font-nav;
    
                    :nth-child(1) {
                        color: $marron-oscuro;
                        font-weight: bold;
                        margin-bottom: 0;
                    }
    
                    :nth-child(2) {
                        color: $marron-claro;
                    }
                }
            }
    
            .download-cv {
                a {
                    text-decoration: none;
    
                    &:hover {
                        text-decoration: none;
                        text-decoration-color: $naranja;
                        text-decoration-thickness: 3px;
                    }
    
                    h1 {
                        font-family: $font-nombre;
                        font-weight: bolder;
                        color: $marron-oscuro;
                        margin-bottom: 0;
                        line-height: .8em;
                    }
    
                    h3 {
                        font-family: $font-nav;
                        font-weight: bolder;
                        color: $naranja;
                    }
                }
    
            }
    
            .contenedor-extra-cv {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-align: left;
                flex-direction: column;
                margin: 0 auto;
                font-family: $font-nav;
                border-left: 3px solid $naranja;
                padding-left: 1em;
                .lista-extra-cv{
                 p{
                     color: $marron-oscuro;
                 }   
                }
                h2 {
                    margin-bottom: 1em;
                    color: $naranja;
                    font-weight: 800;
                }
    
                .lightbox-gallery {
                    display: flex;
                    flex-direction:row-reverse;
    
                    .container {
                        padding: 0;
    
                        .row {
                            width: 100%;
                            margin: 0;
                            justify-content: right;
                            flex-direction: row-reverse;
    
                            .photolink {
                                display: none;
                            }
    
                            a {
                                margin: 0;
                                height: auto;
                                width: auto;
    
                                h3 {
                                    font-size: 1.5em;
                                    color: $naranja;
                                }
    
                                &:hover {
                                    text-decoration: underline;
                                    text-decoration-color: $naranja;
                                }
                            }
                        }
                    }
                }
    
                a {
                    h3 {
                        font-size: 1.5em;
                        color: $naranja;
                    }
    
                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: $naranja;
                    }
                }
    
                &:nth-child(2) {
                    justify-content: space-between;
                    text-align: right;
                    border-left: none;
                    padding-left: none;
                    padding-right: 1em;
                    border-right: 3px solid $naranja;
                }
            }
        }
    }


    .about {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        overflow-y: hidden;
        background-size: cover;
        background-image: url(assets/FONDOS/FONDO_BIO.jpg);
    
        .mandala {
            display: block;
            min-height: 1350px;
    
    
            width: 50%;
            height: auto;
    
    
    
            position: absolute;
            top: 0;
            left: 0;
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(assets/FONDOS/ELEFANTE.png);
    
            img {
                display: none;
                width: 50%;
                height: auto;
                z-index: 2;
    
    
            }
        }
    
        .contenedor-bio {
    
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
    
            .text-box-bio {
                height: 100%;
    
                width: 95%;
                padding-top: auto;
                padding-right: 0;
                margin: 0 auto;
                text-align: right;
                z-index: 20;
    
                .title-bio {
                    font-size: 6em;
                    font-family: $font-nombre;
                    color: $marron-claro;
    
                    p {
                        padding: 0;
                        line-height: 4rem;
                    }
    
                }
    
                .sub-bio {
                    width: 100%;
    
                    h3 {
                        font-family: $font-nombre;
                        font-weight: 700;
                        color: $marron-oscuro;
                        letter-spacing: 1px;
                    }
    
                }
    
                .text-bio {
                    p {
                        font-family: $font-text;
                        text-align: justify;
                        color: $marron-claro;
    
    
    
                    }
                }
            }
        }
    
        .contenedor-sobremandalas {
            background-color: $marron-claro;
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
    
            .text-box-bio {
                height: 100%;
                font-family: $font-text;
                width: 90%;
                padding-top: 5%;
    
                
                text-align: justify;
    
                .title-mandalas {
                    p {
                        font-size: 3em;
                        font-family: $font-nombre;
                        color: white;
                        font-weight: bolder;
                        line-height: 2rem;
                        padding-bottom: 1rem;
                        text-align: right;
    
                        sup {
                            font-size: 3rem;
                            font-family: $font-nombre;
                            color: white;
                            font-weight: bolder;
                            line-height: 2rem;
                            text-align: right;
                            margin-left: auto;
                            top: .5em;
    
                        }
                    }
                }
    
                .text-mandala {
                    p {
                        font-size: 1.1rem;
                        color: white;
                        margin-bottom: 0;
    
                        b {
                            text-align: start;
                        }
    
                        sub {
                            font-size: 3em;
                            font-family: $font-nombre;
                            color: white;
                            font-weight: bolder;
                            line-height: 2rem;
                            text-align: right;
                            margin-left: auto;
                        }
                    }
    
                    &:nth-child(3) {
                        text-align: right;
                        margin-bottom: 2em;
                    }
                }
            }
        }
    }
    .container {
        width: 100%;
    padding: 0;
    padding-bottom: 1em;
        .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
    
            a {
                width: 100px;
                height: 100px;
                margin: 0rem 5px;
                overflow: hidden;
    
                img {
                    width: 100px;
                    height: auto;
    
                }
            }
        }
    }

    .carousel-indicators {
        bottom: 90%;
        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }


    #banner-header-1{
        content: url(assets/mobile/HEADERS/1.png);
    }
    #banner-header-2{
        content: url(assets/mobile/HEADERS/2.png);
    }
    #banner-header-3{
        content: url(assets/mobile/HEADERS/3.png);
    }
    #banner-header-4{
        content: url(assets/mobile/HEADERS/4.png);
    }


}